<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body> 
     {{>nav}}
    {{>scripts}}
    <div class="container">
      {{{body}}}   
    </div>
  </body>
</html>
