<div class="row justify-content-center text-center">
  <div class="col-4">
    <form method="post" action="/users/login">
      <div class="form-group">
        <input type="text" class="form-control" id="username" name="username" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" autocomplete="false">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

