<div class="row justify-content-center">
  <div class="col-4">
      <div class="alert alert-info text-center" role="alert">
        A share of {{name}} ({{symbol}}) costs {{price}}.
    </div>
  </div>
</div>



