<div class="row justify-content-center text-center">
  <div class="col-4">
    <form method="post" action="/{{action}}">
      <div class="form-group">
        <input type="text" class="form-control" id="symbol" name="symbol" placeholder="Symbol">
      </div>
      {{#if trade}}
      <div class="form-group">
        <input type="number" class="form-control" id="shares" name="shares" placeholder="Shares" autocomplete="false">
      </div>
      {{/if}}
      <button type="submit" class="btn btn-primary">{{btnName}}</button>
    </form>
  </div>
</div>